<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email simplu</title>
</head>
<body style="font-family: Arial, sans-serif;">

    <div style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px;">
        <h2 style="color: #333;">Formular contact C-Store</h2>
        <p>Salutare, <b>{{ new_contact.nume }}</b></p>
        <p>Am primit mesajul tau!</p>
        <p>Poti revedea mesajul mai jos:</p>
        <p><b>Subiect:</b> {{ new_contact.subiect }}</p>
        <p><b>Mesaj:</b> {{ new_contact.mesaj }}</p>
        <p><b>Adresa de email de contact:</b> {{ new_contact.email }}</p>
        <p><b>Numar telefon de contact:</b> {{ new_contact.numar_telefon }}</p>
        <br><br>
        <p>Iti multumim ca ai contactat <b>C-Store</b>! Iti vom raspunde in cel mai scurt timp.</p>
        <a href="http://localhost:8000/">Acceseaza site-ul</a>
        <br><br>
        <p>Toate cele bune,</p>
        <p>C-Store</p>
    </div>

</body>
</html>