<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Email</title>
</head>
<body style="font-family: Arial, sans-serif;">

    <div style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px;">
        <h2 style="color: #333;">Scentopia Contact Message</h2>
        <p>Hello, <b>{{ new_contact.nickname }}</b></p>
        <p>Your message has been received!</p>
        <p>Please see below your request:</p>
        <p><b>Subject:</b> {{ new_contact.subject }}</p>
        <p><b>Message:</b> {{ new_contact.message }}</p>
        <p><b>Your contact email:</b> {{ new_contact.email }}</p>
        <p><b>Your contact phone number:</b> {{ new_contact.phone_number }}</p>
        <br><br>
        <p>Thank you for contacting <b>Scentopia</b>! You will be receiving a reply as soon as possible.</p>
        <a href="http://127.0.0.1:8000/">Visit us</a>
        <br><br>
        <p>Best regards,</p>
        <p>Scentopia Perfumes</p>
    </div>

</body>
</html>