<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">C-Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}">Acasa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categorii Produse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Despre noi</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">Contul meu</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Schimbare parola</a></li>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-light">Logout, {{ user.username }}</button>
                    </form>
                </ul>
            </li>
            {% else %}
            <div>
                <a href="{% url 'login' %}" class="btn btn-outline-success">Logare</a>
                <a href="{% url 'create-user' %}" class="btn btn-outline-danger">Inregistrare</a>
            </div>
        {% endif %}
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Cautare" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Cauta</button>
      </form>
    </div>
  </div>
</nav>